@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes gradient-x {
  0% { background-position: 0% }
  100% { background-position: 400% }
}
.animate-gradient-x {
  background-size: 400% 100%;
  animation: gradient-x 10s linear infinite;
}